<div class="container" id="externalDirective" ng-controller="barChartController">
    <div class="row">
        <div class="col-md-12">
            <h3>
                {{title}}
            </h3>
            <p>
                Given Below is the example of the bar chart directive created from the d3js.<br>
                With adjustable values from the textbox.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <d3-bar-chart
                    bar-chart-data="barChartData"
            ></d3-bar-chart>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-repeat="value in barChartData.plotingData track by $index">
                        <label>X{{$index + 1}} : </label>
                        <input type="number" ng-model="value.y">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-repeat="color in barChartData.barColor track by $index">
                        <label>Color {{$index + 1}} : </label>
                        <input type="text" ng-model="color">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>